html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
}

.logo {
  width: 40vw;
  max-width: 200px;
}

.navbar .nav-link {
  color: #333;
}

.navbar .nav-link:hover {
  color: #4caf50;
}

.navbar .nav-link.logout {
  color: #f00 !important;
  font-weight: bold;
}

.navbar .nav-link.logged-in {
  font-weight: bold;
  color: #4caf50 !important;
}

.logout-btn {
  color: #f00;
  font-weight: bold;
}

.hero {
  background-color: #ffffff;
  padding: 4rem 0;
  text-align: center;
  border-radius: 15px;
  width: 100%;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid #ddd;
  border-radius: 50px 0 0 50px;
  outline: none;
  flex: 1;
}

.search-bar button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button i {
  font-size: 1.2rem;
}

.search-bar button:hover {
  background-color: #45a049;
}

.services {
  padding: 1rem 0.5rem;
  text-align: left;
  flex: 1;
}

.services ul {
  padding-left: 0;
  list-style-type: none;
}

.services li {
  text-align: left;
  font-size: large;
  padding: 0.5rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.services a {
  color: #333;
  text-decoration: none;
}

.services a:hover {
  color: #4caf50; /* Same green as the logo */
  text-decoration: underline !important;
}

.service-item.no-underline {
  text-decoration: none;
}

.service-item.no-underline:hover {
  text-decoration: none;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 2rem; /* Added margin-top to prevent shifting */
}

.service-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.service-item:hover {
  transform: translateY(-5px);
}

.service-icon {
  width: 100px;
  height: 100px;
  background-color: #4caf50;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-icon i {
  font-size: 2.5rem;
  color: #ffffff;
}

.service-item h3 {
  margin-top: 0.5rem;
  color: #424242;
  font-size: 1.2rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  border-top: 1px solid #ddd;
  margin-top: auto;
}

footer h5 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer ul li {
  margin-bottom: 0.5rem;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer ul li a:hover {
  color: #4caf50;
}

footer .socials a {
  color: #fff;
  transition: color 0.3s ease;
}

footer .socials a:hover {
  color: #4caf50;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

.breadcrumb {
  background-color: transparent;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  color: #6c757d;
  padding: 0 0.5rem;
}

.breadcrumb-item a {
  color: #4caf50;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  background-color: #e0e0e0;
  border-radius: 50%;
  text-decoration: none;
}

.breadcrumb-item i {
  font-size: 1.2rem;
}

.breadcrumb-item-text {
  color: #4caf50 !important;
}

@media (max-width: 1200px) {
  .logo {
    width: 40vw;
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .navbar-brand img {
    width: 30vw;
    max-width: 150px;
  }
}

@media (max-width: 600px) {
  .search-bar {
    max-width: 90%;
  }

  .search-bar input[type="text"] {
    padding: 0.6rem 1rem;
  }

  .search-bar button {
    padding: 0.6rem 1rem;
  }

  .service-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 1rem;
  }

  .search-filter-results-column {
    width: 90% !important;
  }
}

.card {
  border: none;
  border-radius: 10px;
}

.card h2 {
  font-weight: 700;
}

.card form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card form .form-group {
  margin-bottom: 1rem;
}

.card form .btn-primary {
  background-color: #4caf50;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.card form .btn-primary:hover {
  background-color: #45a049;
}

.card form input,
.card form label {
  font-size: 0.9rem;
}

.card form input {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.card form input.form-control {
  color: #6c757d;
}

.card form label {
  color: #6c757d;
}

.card form .btn-primary {
  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
  width: 100%;
  border-radius: 50px;
  padding: 0.8rem;
}

.card form .btn-primary:hover {
  background-color: #45a049;
}

.navbar .nav-link {
  color: #333;
}

.navbar .nav-link:hover {
  color: #4caf50;
}

.navbar .nav-link.logout {
  color: #f00 !important;
  font-weight: bold;
}

.navbar .nav-link.logged-in {
  font-weight: bold;
  color: #4caf50 !important;
}

.alert {
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.password-requirements {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.75s ease;
}

.password-requirements.show {
  max-height: 200px;
  opacity: 1;
}

.search-filter-results-column {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px; /* Adjusted max-width to match the search bar */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  max-height: 400px;
  overflow-y: auto;
  z-index: 1000;
  margin-top: 10px;
}



.search-filter-result {
  padding: 10px;
  /* Remove border-bottom for a cleaner look */
}

.search-filter-result.category span {
  font-weight: bold;
  color: #333;
  text-transform: capitalize; /* Remove underscores and capitalize text */
}

.search-filter-result span {
  display: block;
  font-size: 18px;
}

.search-filter-result.no-results {
  text-align: center;
  color: #666;
}

/* Hover effect for search results */
.search-filter-result:hover {
  background-color: #45a049; /* Light gray background on hover */
  color: white;
  cursor: pointer;
}

.search-filter-result.category:hover span {
  font-weight: bold;
  color: white;
  text-transform: capitalize; /* Remove underscores and capitalize text */
}