{% load static %}
<!-- Large Screen Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top navbar-large">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'images/chambeopr_logo.png' %}" alt="ChambeoPR Logo" class="logo" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#fullscreenMenu" aria-controls="fullscreenMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav nav-links">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown navbar-dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="nav-user-pill d-flex align-items-center">
                <div class="nav-hamburger-icon">
                  <i class="fas fa-bars"></i>
                </div>
                <div class="nav-profile-pic" id="nav-profile-pic-container">
                  {% if user.profile and user.profile.profile_picture %}
                    <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" id="navbar-profile-pic" class="rounded-circle" />
                  {% else %}
                    <i class="fas fa-user-circle fa-2x user-icon" id="navbar-profile-icon"></i>
                  {% endif %}
                </div>
              </div>
            </a>
            <ul class="mt-2 dropdown-menu dropdown-menu-end navbar-dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'index' %}">Services</a></li>
              {% if user.is_pro %}
              <li><a class="dropdown-item" href="{% url 'dashboard' %}">Pro Dashboard</a></li>
              {% else %}
              <li><a class="dropdown-item" href="#" onclick="handleBecomeaPro(event)">Become a Pro</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'delete_account' %}">Manage Account</a></li>
              <li>
                <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: inline" onsubmit="return confirmLogout();">
                  {% csrf_token %}
                  <button type="submit" class="dropdown-item logout-btn">Sign out</button>
                </form>
              </li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Services</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Sign up</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>