{% extends 'myapp/index.html' %} {% load static %} {% block content %}
<div class="container mt-5 d-flex justify-content-center">
  <div class="card p-4 shadow-sm" style="max-width: 500px; width: 100%">
    <div class="text-center mb-4">
      <img
        src="{% static 'images/chambeopr_logo.png' %}"
        alt="ChambeoPR Logo"
        class="img-fluid"
        style="max-width: 150px"
      />
    </div>
    <h2 class="text-center mb-4">Password Reset</h2>
    <form method="post" action="{% url 'password_reset' %}">
      {% csrf_token %}
      <div class="mb-3">
        <input
          type="email"
          name="email"
          class="form-control"
          placeholder="Email Address"
          required
        />
      </div>
      <div class="d-grid text-center">
        <button
          type="submit"
          class="btn btn-primary w-100 rounded-pill fw-bold"
        >
          Reset Password
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
