{% comment %} footer.html {% endcomment %}
<footer class="text-center py-4 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>About</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">About Us</a></li>
          <li><a href="#" class="text-white">FAQ</a></li>
          <li><a href="#" class="text-white">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Our Socials</h5>
        <ul class="list-unstyled d-flex justify-content-center">
          <li>
            <a href="#" class="text-white me-3"
              ><i class="fab fa-facebook fa-2x"></i
            ></a>
          </li>
          <li>
            <a href="#" class="text-white me-3"
              ><i class="fab fa-twitter fa-2x"></i
            ></a>
          </li>
          <li>
            <a href="#" class="text-white me-3"
              ><i class="fab fa-instagram fa-2x"></i
            ></a>
          </li>
          <li>
            <a href="#" class="text-white me-3"
              ><i class="fab fa-linkedin fa-2x"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>&copy; 2024 Bookiao</h5>
        <p>All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
