
{% extends "myapp/layout.html" %}
{% load static %}

{% block title %}Bookiao | The #1 Services App in Puerto Rico{% endblock %}

{% block content %}
{% spaceless %}
<!-- A loading indicator that appears while the page is loading -->
<div id="loading-indicator" class="loading">
  <div class="spinner"></div>
</div>

<!-- Search Section for Large Screens -->
<section class="index-bookiao-search-container index-parent-container">
    <h1 class="index-bookiao-title">Find services fast.</h1>
    <!-- Search Form -->
    <div class="index-bookiao-search-form">
        <div class="row index-input-row">
            <!-- Input field for ZIP Code -->
            <div class="col">
                <input type="text" id="zipcode" class="form-control index-bookiao-input" placeholder="ZIP Code" aria-label="ZIP Code">
            </div>
            <!-- Input field for selecting a date -->
            <div class="col-4">
                <input type="text" id="date" class="form-control index-bookiao-input" placeholder="Fri Jul 26" aria-label="Date">
            </div>
            <!-- Input field for selecting a time -->
            <div class="col-4">
                <input type="text" id="time" class="form-control index-bookiao-input" placeholder="12:00 PM" aria-label="Time">
            </div>
        </div>
        <!-- Search Bar -->
        <div class="index-bookiao-search-bar col">
            <!-- Input field for typing in the service you're looking for -->
            <input type="text" id="search-input" class="index-bookiao-input" placeholder="I am looking for..." aria-label="Search services">
            <!-- Button to start the search -->
            <button id="search-button" class="index-bookiao-search-button" aria-label="Search">
                <span class="material-symbols-outlined">search</span>
            </button>
        </div>
        <!-- Area where search results will appear -->
        <div id="search-results" class="index-bookiao-search-results" role="listbox" aria-live="polite"></div>
    </div>
</section>


<!-- START OF SERVICES AND SUBSERVICES -->
<!-- Categories for users to scroll through -->
 <div class="service">
    <section>
        <div class="bg-white">
            <div class="index-service-grid-container index-shadow-xsm">
                {% for service in service_categories %}
                    <!-- Each service category is displayed as a clickable item -->
                    <a href="#" data-category="{{ service.category }}" class="index-service-item no-underline">
                        <!-- Icon representing the service category -->
                        <div class="index-service-icon">
                            <span class="material-symbols-outlined" aria-hidden="true">{{ service.icon }}</span>
                        </div>
                        <!-- Name of the service category -->
                        <span class="index-services-text">{{ service.name }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Sub-services related to a selected category -->
    <section>
        <div class="index-sub-service-grid-container bg-white index-shadow-xsm">
            <!-- Sub-services will be dynamically loaded here when a service category is clicked -->
        </div>
    </section>
</div>

<section>
    {% include "myapp/accounts/service_profiles.html" %}
</section>
<!-- END OF SERVICES AND SUBSERVICES -->


{% endspaceless %}
{% endblock %}

{% block scripts %}
<script>
    // This script variable holds all the services data from the server, which can be used in JavaScript
    const servicesData = {{ services|safe }};

    window.onload = function () {
        // Check if running in Capacitor
        const isCapacitor = window.Capacitor !== undefined;
    
        // Cache DOM queries
        const loadingIndicator = document.getElementById('loading-indicator');
        const subServicesContainer = document.querySelector('.index-sub-service-grid-container');
        const serviceItems = document.querySelectorAll('.index-service-item');
        const serviceProfiles = document.querySelectorAll('.service-profile-body');
        const serviceProfilesContainer = document.querySelector('#service-profiles-container');
        const contentContainer = document.querySelector('.content-container');
    
        // Hide content initially
        if (contentContainer) {
            contentContainer.style.opacity = '0';
        }
    
    }
</script>
<script src="{% static 'js/index.js' %}"></script>
<!-- Link to the external JavaScript file that handles interactions on this page -->

{% endblock %}


