:root {
  /* General colors */
  --background-color: #ffffff;
  --text-color: #333;
  --link-color: #333;
  --link-hover-color: #ff2e00;
  /* Search bar colors */
  --search-button-color: #87e2b9;
  --search-button-hover-color: #497963;
  /* Card button colors */
  --card-button-color: #4caf50;
  --card-button-hover-color: #45a049;
  /* Alert colors */
  --alert-danger-color: #721c24;
  --alert-danger-background: #f8d7da;
  --alert-danger-border: #f5c6cb;
  --alert-success-color: #155724;
  --alert-success-background: #d4edda;
  --alert-success-border: #c3e6cb;
}

.service-and-sub-service-parent-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #ff4500;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.index-parent-container {

  animation: fadeIn 0.3s ease-in-out;
}

.index-bookiao-search-container {
  max-width: 50%;
  margin: 20px auto;
  padding: 2%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
}

.index-bookiao-title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 1rem;
  text-align: center;
}

.index-bookiao-search-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.index-bookiao-input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 5px;
  font-size: 0.85rem;
}

.index-bookiao-search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.index-bookiao-search-button {
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 4px;
  background-color: #ff4500;
  border: none;
  color: white;
  padding: 0 12px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-bookiao-search-results {
  position: absolute;
  margin-top: 10px;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  display: none;
}

.index-search-filter-result {
  padding: 10px 15px;
  cursor: pointer;
}

.index-search-filter-result:hover {
  background-color: #f0f0f0;
}

.index-search-filter-result.category {
  font-weight: bold;
}

.index-bookiao-input,
.index-bookiao-search-button {
  height: auto !important;
  line-height: normal !important;
}

.material-symbols-outlined {
  font-weight: bold;
}

.index-service-grid-container,
.index-sub-service-grid-container {
  display: flex; /* Ensuring it behaves like a flex container */
  overflow-x: auto; /* In case it needs to scroll */
  gap: 2rem;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  scroll-behavior: smooth; /* Enables smooth scrolling */
  justify-content: flex-start; /* Default to left alignment */
  position: relative; /* Add positioning */
  padding: 1.5rem 1rem 0.5rem 1.5rem !important;
}

.index-service-grid-container {
  z-index: 1; /* Set z-index */
}

.index-sub-service-grid-container {
  z-index: 0; /* Lower z-index than the first container */
}

.index-service-grid-container::-webkit-scrollbar,
.index-sub-service-grid-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.index-service-item {
    flex: 0 0 auto; /* Prevents items from shrinking or growing */
    text-align: center;
    text-decoration: none;
    color: #666;
    border-bottom: 2px solid transparent; /* Initially, no underline */
    box-sizing: border-box; /* Ensure border is included in the width */
    padding-bottom: 0.2rem; /* Add padding to make space for the border */
    animation: fadeIn 0.3s ease-in-out;
}

.index-sub-service-item {
  display: flex;
  flex-direction: column; /* Stack icon and text vertically */
  justify-content: center; /* Center vertically within the container */
  align-items: center; /* Center horizontally within the container */
  flex: 0 0 auto; /* Prevents items from shrinking or growing */
  text-align: center;
  text-decoration: none;
  color: #666;
  border-bottom: 2px solid transparent; /* Initially, no underline */
  box-sizing: border-box; /* Ensure border is included in the width */
  padding-bottom: 0.5rem; /* Add padding to make space for the border */
  animation: fadeIn 0.3s ease-in-out;
}


.index-service-item:hover,
.index-sub-service-item:hover {
    color: black; /* Change text color to black on hover */
    border-bottom: 2px solid black; /* Add a black underline under the container */
    cursor: pointer;
    transition: 0.3s;
}


.index-service-item:hover .index-service-icon,
.index-sub-service-item:hover .index-sub-service-icon,
.index-service-item:hover .index-services-text,
.index-sub-service-item:hover .index-sub-services-text {
    color: black; /* Change icon and text color to black on hover */
}


.index-service-item.active,
.index-sub-service-item.active {
    color: black; /* Solid black color for the active state */
    border-bottom: 2px solid black; /* Black underline for the active state */
}

.index-service-item.active .index-service-icon,
.index-sub-service-item.active .index-sub-service-icon,
.index-service-item.active .index-services-text,
.index-sub-service-item.active .index-sub-services-text {
    color: black !important; /* Solid black color for the active state */
}

.index-service-icon,
.index-sub-service-icon {
    font-size: 1.5rem;
    color: #818181;
    margin-bottom: 0.5rem; /* Space between icon and text */
}

.index-services-text,
.index-sub-services-text {
    font-size: 0.9rem;
    font-weight: 500;
    color: #818181;
    display: block;
    text-align: center;
    line-height: 1.2;
    white-space: nowrap; /* Prevent text from wrapping */
    margin-top: -0.70rem;
}

.index-shadow-xsm {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
}


/* Responsive adjustments */
@media (max-width: 600px) {
    .index-bookiao-title {
        font-size: 2rem;
    }
    .index-bookiao-search-container {
        max-width: 98%;
        padding: 2%;
    }

    .index-service-item,
    .index-sub-service-item {
        width: 5rem; /* Smaller width for smaller screens */
    }

    .index-service-icon,
    .index-sub-service-icon {
        font-size: 1.2rem;
    }

    .index-services-text,
    .index-sub-services-text {
        font-size: 0.7rem;
    }

    /* Hide index-parent-container on small screens */
    .index-parent-container {
        display: none;
    }

    .index-service-grid-container,
    .index-sub-service-grid-container {
      display: flex; /* Ensuring it behaves like a flex container */
      overflow-x: auto; /* In case it needs to scroll */
      gap: 0.8rem;
      scrollbar-width: none; /* Hide scrollbar for Firefox */
      scroll-behavior: smooth; /* Enables smooth scrolling */
      justify-content: flex-start; /* Default to left alignment */
      position: relative; /* Add positioning */
      padding: 1.5rem 1rem 0.5rem 1.5rem !important;
    }

    .index-service-grid-container {
      z-index: 1; /* Set z-index */
    }
    
    .index-sub-service-grid-container {
      z-index: 0; /* Lower z-index than the first container */
    }
}

/* Center the service grid container on larger screens */
@media (min-width: 600px) {
    .index-service-grid-container {
        justify-content: center; /* Center align items */
    }
}



@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
